flows.json
[{"id":"49017fb.081c18","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"407269cb.c12fd8","type":"tab","label":"Status","disabled":false,"info":""},{"id":"a1f7f54.5d30108","type":"tab","label":"Vacuum","disabled":false,"info":""},{"id":"78be5f94.ae5e3","type":"tab","label":"Air conditioning","disabled":false,"info":""},{"id":"f9c72e13.30015","type":"tab","label":"Backup","disabled":false,"info":""},{"id":"69646b1e.2e5084","type":"tab","label":"Media lights","disabled":false,"info":""},{"id":"c84fe94a.0c50b8","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"9114d340.f3aed","type":"tab","label":"Media","disabled":false,"info":""},{"id":"637d254d.a1199c","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"90ba4a50.2b5e48","type":"server","z":"","name":"HomeAssistant","url":"https://URL","pass":"PASSWORD"},{"id":"b1a70ec4.c2c7c","type":"alexa-home-conf","z":"","username":"thatsluke"},{"id":"a4ca6d02.96506","type":"server-state-changed","z":"49017fb.081c18","name":"Presence changed","server":"90ba4a50.2b5e48","entityidfilter":"group.anyone_home","entityidfiltertype":"substring","haltifstate":"","x":110,"y":137,"wires":[["c3d2ebf6.6c2a38"]]},{"id":"732599b5.7bcca8","type":"server-state-changed","z":"49017fb.081c18","name":"Kitchen Motion","server":"90ba4a50.2b5e48","entityidfilter":"binary_sensor.motion_kitchen","entityidfiltertype":"substring","haltifstate":"","x":96.5,"y":609,"wires":[["912f0cf2.261cc"]]},{"id":"92aebd5.9d6ff4","type":"api-call-service","z":"49017fb.081c18","name":"OFF","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.kitchen\"}","mergecontext":"","x":968.5,"y":664,"wires":[[]]},{"id":"912f0cf2.261cc","type":"switch","z":"49017fb.081c18","name":"switch motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":311.5,"y":608,"wires":[["7b6e8cc1.3a52e4","305325f9.8dce7a"],["305325f9.8dce7a"]]},{"id":"333eb578.f2b88a","type":"switch","z":"49017fb.081c18","name":"sleeping?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1347,"y":601,"wires":[["93710349.a7414"],["b505d10f.2ccd"]]},{"id":"7e99cd5b.eecde4","type":"api-call-service","z":"49017fb.081c18","name":"ON","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"","mergecontext":"","x":2512.833251953125,"y":602.6666259765625,"wires":[[]]},{"id":"7b6e8cc1.3a52e4","type":"api-current-state","z":"49017fb.081c18","name":"Anyone home?","server":"90ba4a50.2b5e48","halt_if":"off","override_topic":false,"override_payload":false,"entity_id":"group.anyone_home","x":581.5,"y":603,"wires":[["f812e979.641448"]]},{"id":"2e3f1d9e.155e12","type":"api-current-state","z":"49017fb.081c18","name":"Motion?","server":"90ba4a50.2b5e48","halt_if":"on","entity_id":"group.kitchen_motion_sensors","x":797.5,"y":668,"wires":[["92aebd5.9d6ff4"]]},{"id":"305325f9.8dce7a","type":"stoptimer","z":"49017fb.081c18","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"1 min","x":586.5,"y":669,"wires":[["2e3f1d9e.155e12"],[]]},{"id":"2bee9d12.10d4a2","type":"comment","z":"49017fb.081c18","name":"Kitchen motion light","info":"","x":107,"y":555,"wires":[]},{"id":"5f0e1255.7a8acc","type":"comment","z":"49017fb.081c18","name":"Sunset light","info":"","x":94,"y":24,"wires":[]},{"id":"1ec977de.3ccf18","type":"api-current-state","z":"49017fb.081c18","name":"Anyone home?","server":"90ba4a50.2b5e48","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"group.anyone_home","x":608,"y":877,"wires":[["1dc97122.1321cf"]]},{"id":"aab94d7c.2ff26","type":"stoptimer","z":"49017fb.081c18","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"30 sec","x":600,"y":940,"wires":[["83b6cfe7.1d62c"],[]]},{"id":"1dc97122.1321cf","type":"api-current-state","z":"49017fb.081c18","name":"Already On?","server":"90ba4a50.2b5e48","halt_if":"on","entity_id":"light.big_light","x":820,"y":875,"wires":[["c573487.d5a8ab8"]]},{"id":"83b6cfe7.1d62c","type":"api-current-state","z":"49017fb.081c18","name":"Motion?","server":"90ba4a50.2b5e48","halt_if":"on","entity_id":"sensor.living_motion_room","x":816,"y":934,"wires":[["73157711.583fb8"]]},{"id":"73157711.583fb8","type":"api-call-service","z":"49017fb.081c18","name":"Big light off","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.big_light\"}","mergecontext":"","x":1058,"y":933,"wires":[[]]},{"id":"c573487.d5a8ab8","type":"api-call-service","z":"49017fb.081c18","name":"Big light on","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.big_light\", \"brightness_pct\": \"10\"}","mergecontext":"","x":1059.1666259765625,"y":875.952392578125,"wires":[[]]},{"id":"d34a6381.db4f9","type":"comment","z":"49017fb.081c18","name":"Night light","info":"","x":75.5,"y":854,"wires":[]},{"id":"6111c704.0c2818","type":"api-current-state","z":"49017fb.081c18","name":"","server":"90ba4a50.2b5e48","halt_if":"","entity_id":"binary_sensor.sleeping","x":1057.5,"y":603,"wires":[["333eb578.f2b88a"]]},{"id":"b505d10f.2ccd","type":"api-current-state","z":"49017fb.081c18","name":"","server":"90ba4a50.2b5e48","halt_if":"","entity_id":"sensor.kitchen_light_level","x":1663.5,"y":606,"wires":[["c461c064.cdc82"]]},{"id":"d56d0eee.7b93e","type":"range","z":"49017fb.081c18","minin":"4000","maxin":"12000","minout":"100","maxout":"35","action":"clamp","round":true,"property":"payload","name":"","x":2093.5,"y":605,"wires":[["b131c642.4faca8"]]},{"id":"b131c642.4faca8","type":"template","z":"49017fb.081c18","name":"kitchen light template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.kitchen\",\n\"brightness_pct\": {{payload}}\n}}\n","output":"str","x":2292,"y":601,"wires":[["7e99cd5b.eecde4"]]},{"id":"c461c064.cdc82","type":"switch","z":"49017fb.081c18","name":"less than 14k","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"14000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1942,"y":607,"wires":[["d56d0eee.7b93e"]]},{"id":"869c4a72.04caa8","type":"trigger-state","z":"49017fb.081c18","name":"Auto lights on","server":"90ba4a50.2b5e48","entityid":"sensor.livingroom_light_level","debugenabled":false,"constraints":[{"id":"gqwvxau4txu","targetType":"entity_id","targetValue":"input_boolean.auto_lights","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"65tcfghun8u","targetType":"entity_id","targetValue":"group.anyone_home","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"v8d8hsu6hsb","targetType":"entity_id","targetValue":"input_boolean.someone_downstairs","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":98,"y":249,"wires":[["c10c0052.76511","fdafd5f6.8c49a8"],[]]},{"id":"a8511d4.f9d81e","type":"range","z":"49017fb.081c18","minin":"14000","maxin":"17500","minout":"10","maxout":"0","action":"clamp","round":true,"property":"payload","name":"","x":1116,"y":231,"wires":[["57bfdb43.ba05e4","485ce41c.1d7a1c"]]},{"id":"3a36fb9e.d9f214","type":"template","z":"49017fb.081c18","name":"paperlight light template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.paperlight\",\n\"brightness_pct\": {{payload}},\n\"transition\": 120\n}}\n","output":"str","x":1685.5,"y":180,"wires":[["17df81c7.61098e"]]},{"id":"17df81c7.61098e","type":"api-call-service","z":"49017fb.081c18","name":"ON","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"","mergecontext":"","x":1922,"y":217,"wires":[[]]},{"id":"68063f3.6aa0cc","type":"bigtimer","z":"49017fb.081c18","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","lat":"60.314939","lon":"25.037804","starttime":"5004","endtime":1425,"startoff":"-180","endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":83,"y":70.5,"wires":[[],[],["d394d52.4f01928"]]},{"id":"d394d52.4f01928","type":"switch","z":"49017fb.081c18","name":"if on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":355,"y":85,"wires":[["64a98f38.b6676"]]},{"id":"3197f30.7f1820e","type":"switch","z":"49017fb.081c18","name":"switch motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":383,"y":902,"wires":[["1ec977de.3ccf18","aab94d7c.2ff26"],["aab94d7c.2ff26"]]},{"id":"5125c0c4.d9582","type":"trigger-state","z":"49017fb.081c18","name":"Motion in the livingroom","server":"90ba4a50.2b5e48","entityid":"sensor.living_motion_room","debugenabled":false,"constraints":[{"id":"gyb0u90w2qt","targetType":"entity_id","targetValue":"binary_sensor.sleeping","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"ja0lzb9lw8c","targetType":"entity_id","targetValue":"sensor.livingroom_light_level","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"less_than","comparatorValueDatatype":"str","comparatorValue":"12000"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":130,"y":898,"wires":[["3197f30.7f1820e"],[]]},{"id":"e567b8db.7da3d8","type":"template","z":"49017fb.081c18","name":"big light template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.big_light\",\n\"brightness_pct\": {{payload}},\n\"transition\": 120\n}}\n","output":"str","x":1671,"y":233,"wires":[["17df81c7.61098e"]]},{"id":"64a98f38.b6676","type":"api-call-service","z":"49017fb.081c18","name":"enable auto brightness","server":"90ba4a50.2b5e48","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.auto_lights\"}","mergecontext":"","x":581,"y":84,"wires":[[]]},{"id":"46105a4b.eb6c94","type":"switch","z":"49017fb.081c18","name":"Over 10","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1486.5,"y":231,"wires":[["e567b8db.7da3d8"]]},{"id":"272b6ddd.215df2","type":"switch","z":"49017fb.081c18","name":"check light level","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"17000","vt":"num"},{"t":"gt","v":"17500","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":953.5,"y":236,"wires":[["a8511d4.f9d81e","53ce5527.82f34c"],["577fdd0c.f46eb4","abb737b6.20bd88"]]},{"id":"abb737b6.20bd88","type":"api-call-service","z":"49017fb.081c18","name":"Paper light off","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.paperlight\", \"transition\": 30}","mergecontext":"","x":1168,"y":306,"wires":[[]]},{"id":"577fdd0c.f46eb4","type":"api-call-service","z":"49017fb.081c18","name":"Big light off","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.big_light\", \"transition\": 30}","mergecontext":"","x":1156,"y":272,"wires":[[]]},{"id":"c3d2ebf6.6c2a38","type":"switch","z":"49017fb.081c18","name":"home/not home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":351,"y":135,"wires":[["64a98f38.b6676","8b4a612a.f6288","41cb5668.b877e8"],["3871b7a9.13b508","44057372.28464c","2d97fb04.17e4b4"]]},{"id":"3871b7a9.13b508","type":"api-call-service","z":"49017fb.081c18","name":"disable auto brightness","server":"90ba4a50.2b5e48","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.auto_lights\"}","mergecontext":"","x":599,"y":143,"wires":[[]]},{"id":"5389b12.da9eb5","type":"server-state-changed","z":"49017fb.081c18","name":"","server":"90ba4a50.2b5e48","entityidfilter":"binary_sensor.sleeping","entityidfiltertype":"substring","haltifstate":"","x":164.5,"y":369,"wires":[["47986034.d3ae2"]]},{"id":"47986034.d3ae2","type":"switch","z":"49017fb.081c18","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":408.5,"y":369,"wires":[["3871b7a9.13b508","ba5766c3.5a5f98"],[]]},{"id":"8e8bcaee.24ffb8","type":"stoptimer","z":"49017fb.081c18","duration":"60","units":"Minute","payloadtype":"num","payloadval":"0","name":"1 hour","x":779,"y":366,"wires":[["d2d0c605.bbaf98"],[]]},{"id":"2ade4602.2f5eaa","type":"api-call-service","z":"49017fb.081c18","name":"Fan on","server":"90ba4a50.2b5e48","service_domain":"fan","service":"turn_on","data":"{\"entity_id\": \"fan.xiaomi_miio_device\"}","mergecontext":"","x":778.5,"y":412,"wires":[[]]},{"id":"100906bc.ca3e89","type":"api-call-service","z":"49017fb.081c18","name":"Set favorite mode","server":"90ba4a50.2b5e48","service_domain":"fan","service":"set_speed","data":"{\"entity_id\": \"fan.xiaomi_miio_device\", \"speed\": \"Favorite\"}","mergecontext":"","x":819.5,"y":500,"wires":[[]]},{"id":"91c9b46.483fe48","type":"api-call-service","z":"49017fb.081c18","name":"Set favorite level","server":"90ba4a50.2b5e48","service_domain":"fan","service":"xiaomi_miio_set_favorite_level","data":"{\"entity_id\": \"fan.xiaomi_miio_device\", \"level\": 4}","mergecontext":"","x":809,"y":457,"wires":[[]]},{"id":"d2d0c605.bbaf98","type":"api-call-service","z":"49017fb.081c18","name":"Fan off","server":"90ba4a50.2b5e48","service_domain":"fan","service":"turn_off","data":"{\"entity_id\": \"fan.xiaomi_miio_device\"}","mergecontext":"","x":995,"y":362,"wires":[[]]},{"id":"90dead24.6b6a9","type":"trigger-state","z":"a1f7f54.5d30108","name":"","server":"90ba4a50.2b5e48","entityid":"sensor.living_motion_room","debugenabled":false,"constraints":[{"id":"xplfujfszwd","targetType":"entity_id","targetValue":"group.tracked_devices","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":187.5,"y":100,"wires":[["d64d4f27.07b54"],[]]},{"id":"d64d4f27.07b54","type":"time-range-switch","z":"a1f7f54.5d30108","name":"between 3 and 9","lat":"","lon":"","startTime":"15:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":628.5,"y":97,"wires":[["7affac32.013b74"],[]]},{"id":"7affac32.013b74","type":"api-call-service","z":"a1f7f54.5d30108","name":"schedule dining area cleaning","server":"90ba4a50.2b5e48","service_domain":"input_boolean","service":"turn_on","data":"{ \"entity_id\": \"input_boolean.schedule_dining_area_cleaning\"}","mergecontext":"","x":957.5,"y":94,"wires":[[]]},{"id":"6955a3c6.85f98c","type":"server-state-changed","z":"a1f7f54.5d30108","name":"If leaving","server":"90ba4a50.2b5e48","entityidfilter":"group.tracked_devices","entityidfiltertype":"substring","haltifstate":"home","x":80.5,"y":161,"wires":[["3f243cb9.cf2474"]]},{"id":"3f243cb9.cf2474","type":"stoptimer","z":"a1f7f54.5d30108","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":270.5,"y":163,"wires":[[],[]]},{"id":"b4f87ee5.f0342","type":"api-call-service","z":"a1f7f54.5d30108","name":"Trigger cleaning","server":"90ba4a50.2b5e48","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.vacuum_clean_dining_area\"}","mergecontext":"","x":523.5,"y":158,"wires":[[]]},{"id":"53ce5527.82f34c","type":"range","z":"49017fb.081c18","minin":"13000","maxin":"17000","minout":"10","maxout":"0","action":"clamp","round":true,"property":"payload","name":"","x":1117,"y":179,"wires":[["57bfdb43.ba05e4","9d739a2d.a22e98"]]},{"id":"eaadb7ee.42a6f8","type":"switch","z":"49017fb.081c18","name":"Over 5","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1477.5,"y":179,"wires":[["3a36fb9e.d9f214"]]},{"id":"8b4a612a.f6288","type":"api-current-state","z":"49017fb.081c18","name":"","server":"90ba4a50.2b5e48","halt_if":"","entity_id":"sensor.livingroom_light_level","x":655.5,"y":181,"wires":[["272b6ddd.215df2"]]},{"id":"f0a5dfcd.a757a","type":"trigger-state","z":"49017fb.081c18","name":"Motion in hallway upstairs","server":"90ba4a50.2b5e48","entityid":"binary_sensor.motion_hallway_upstairs","debugenabled":false,"constraints":[{"id":"ci8es47fcij","targetType":"entity_id","targetValue":"group.tracked_devices","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":125,"y":1027,"wires":[["650e18e9.e37fc8"],[]]},{"id":"4653136c.0d838c","type":"api-current-state","z":"49017fb.081c18","name":"","server":"90ba4a50.2b5e48","halt_if":"","entity_id":"sensor.kitchen_light_level","x":1678,"y":1029,"wires":[["33b96d9a.830d52"]]},{"id":"33b96d9a.830d52","type":"range","z":"49017fb.081c18","minin":"10000","maxin":"17000","minout":"100","maxout":"0","action":"clamp","round":true,"property":"payload","name":"","x":1917.5,"y":1034,"wires":[["b12f9479.fd2c28"]]},{"id":"b12f9479.fd2c28","type":"switch","z":"49017fb.081c18","name":"Over 5","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2043,"y":1034,"wires":[["331ba356.2af64c"]]},{"id":"331ba356.2af64c","type":"template","z":"49017fb.081c18","name":"hallway upstairs light template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.hallway_upstairs\",\n\"brightness_pct\": {{payload}},\n\"transition\": 2\n}}\n","output":"str","x":2266,"y":1036,"wires":[["b96e0a56.2818a8"]]},{"id":"b96e0a56.2818a8","type":"api-call-service","z":"49017fb.081c18","name":"ON","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"","mergecontext":"","x":2479.5,"y":1038,"wires":[[]]},{"id":"650e18e9.e37fc8","type":"switch","z":"49017fb.081c18","name":"switch motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":371,"y":1023,"wires":[["667e5218.1efd9c","a7fff22a.3ce91","4b09c530.1740bc"],["667e5218.1efd9c"]]},{"id":"667e5218.1efd9c","type":"stoptimer","z":"49017fb.081c18","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"1 min","x":581,"y":1082,"wires":[["1f705747.6f75a9"],[]]},{"id":"1f705747.6f75a9","type":"api-current-state","z":"49017fb.081c18","name":"Motion?","server":"90ba4a50.2b5e48","halt_if":"on","entity_id":"binary_sensor.motion_hallway_upstairs","x":827,"y":1075,"wires":[["7ea691ef.a726d"]]},{"id":"7ea691ef.a726d","type":"api-call-service","z":"49017fb.081c18","name":"hallway upstairs light off","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.hallway_upstairs\"}","mergecontext":"","x":1095,"y":1073,"wires":[[]]},{"id":"11f503ab.be2c0c","type":"switch","z":"49017fb.081c18","name":"sleeping?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1388,"y":1019,"wires":[["8d50faef.324f08"],["4653136c.0d838c"]]},{"id":"8d50faef.324f08","type":"api-call-service","z":"49017fb.081c18","name":"ON","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.hallway_upstairs\", \"brightness_pct\": \"1\"}","mergecontext":"","x":1573.6666259765625,"y":984.952392578125,"wires":[[]]},{"id":"364ca569.51a1ca","type":"api-current-state","z":"49017fb.081c18","name":"","server":"90ba4a50.2b5e48","halt_if":"","entity_id":"binary_sensor.sleeping","x":1132,"y":1019,"wires":[["11f503ab.be2c0c"]]},{"id":"57bfdb43.ba05e4","type":"debug","z":"49017fb.081c18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1301.5,"y":352,"wires":[]},{"id":"a7fff22a.3ce91","type":"api-current-state","z":"49017fb.081c18","name":"Anyone home?","server":"90ba4a50.2b5e48","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"group.anyone_home","x":610,"y":1022,"wires":[["4e805bd8.c45e54"]]},{"id":"4e805bd8.c45e54","type":"api-current-state","z":"49017fb.081c18","name":"Already On?","server":"90ba4a50.2b5e48","halt_if":"on","entity_id":"light.hallway_upstairs","x":835,"y":1022,"wires":[["364ca569.51a1ca"]]},{"id":"41cb5668.b877e8","type":"stoptimer","z":"49017fb.081c18","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 minutes","x":562.5,"y":43,"wires":[["8afff530.d232a8"],[]]},{"id":"8afff530.d232a8","type":"api-call-service","z":"49017fb.081c18","name":"Turn on home for over 10","server":"90ba4a50.2b5e48","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.home_for_over_10\"}","mergecontext":"","x":958.5,"y":37,"wires":[[]]},{"id":"44057372.28464c","type":"api-call-service","z":"49017fb.081c18","name":"Turn off home for over 10","server":"90ba4a50.2b5e48","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.home_for_over_10\"}","mergecontext":"","x":943,"y":143,"wires":[[]]},{"id":"ba5766c3.5a5f98","type":"time-range-switch","z":"49017fb.081c18","name":"","lat":"","lon":"","startTime":"22:00","endTime":"02:00","startOffset":0,"endOffset":0,"x":594.5,"y":367,"wires":[["8e8bcaee.24ffb8","2ade4602.2f5eaa","91c9b46.483fe48","100906bc.ca3e89"],[]]},{"id":"f812e979.641448","type":"api-current-state","z":"49017fb.081c18","name":"Already On?","server":"90ba4a50.2b5e48","halt_if":"on","entity_id":"light.kitchen","x":791,"y":604,"wires":[["6111c704.0c2818"]]},{"id":"9d739a2d.a22e98","type":"function","z":"49017fb.081c18","name":"Multiply by 10","func":"msg.payload = Number(msg.payload)*10;\nreturn msg;","outputs":1,"noerr":0,"x":1311.5,"y":179,"wires":[["eaadb7ee.42a6f8"]]},{"id":"485ce41c.1d7a1c","type":"function","z":"49017fb.081c18","name":"Multiply by 10","func":"msg.payload = Number(msg.payload)*10;\nreturn msg;","outputs":1,"noerr":0,"x":1308,"y":231,"wires":[["46105a4b.eb6c94"]]},{"id":"3632f40b.42601c","type":"trigger-state","z":"78be5f94.ae5e3","name":"","server":"90ba4a50.2b5e48","entityid":"sensor.air_purifier_temperature","debugenabled":false,"constraints":[{"id":"az2a0ti5l1n","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"greater_than","comparatorValueDatatype":"num","comparatorValue":"25"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":190,"y":156,"wires":[[],[]]},{"id":"eeb987a5.6f4d98","type":"time-range-switch","z":"78be5f94.ae5e3","name":"","lat":"","lon":"","startTime":"22:30","endTime":"23:30","startOffset":0,"endOffset":0,"x":506,"y":152,"wires":[["18c262aa.d4aefd"],[]]},{"id":"18c262aa.d4aefd","type":"api-call-service","z":"78be5f94.ae5e3","name":"AC on","server":"90ba4a50.2b5e48","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.air_conditioner\"}","mergecontext":"","x":682,"y":99,"wires":[[]]},{"id":"c10c0052.76511","type":"smooth","z":"49017fb.081c18","name":"","property":"payload","action":"mean","count":"3","round":"0","mult":"single","x":583,"y":241,"wires":[["272b6ddd.215df2","fdafd5f6.8c49a8"]]},{"id":"c8fbc289.e0c61","type":"switch","z":"f9c72e13.30015","name":"home/not home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":85,"y":176,"wires":[["9aaeec64.d62dc"],["e3b3ac23.8b73f"]]},{"id":"9aaeec64.d62dc","type":"api-current-state","z":"f9c72e13.30015","name":"Sun","server":"90ba4a50.2b5e48","halt_if":"","entity_id":"sun.sun","x":303,"y":114,"wires":[["81e03a8d.1772e8"]],"outputLabels":["data.attributes.next_setting"]},{"id":"e3b3ac23.8b73f","type":"api-call-service","z":"f9c72e13.30015","name":"All lights off","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_off","data":"","mergecontext":"","x":315,"y":264,"wires":[[]]},{"id":"81e03a8d.1772e8","type":"switch","z":"f9c72e13.30015","name":"Sun status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"above_horizon","vt":"str"},{"t":"eq","v":"below_horizon","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":496,"y":112,"wires":[["b1f795da.9f7658"],["46a1581a.850868","90806bf8.906638"]]},{"id":"b1f795da.9f7658","type":"moment","z":"f9c72e13.30015","name":"","topic":"","input":"data.attributes.next_setting","inputType":"msg","inTz":"Etc/UTC","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"","locale":"en_GB","output":"","outputType":"msg","outTz":"Etc/UTC","x":770,"y":54,"wires":[["3fd377e6.8c2698"]],"inputLabels":["data.attributes.next_setting"]},{"id":"46a1581a.850868","type":"api-call-service","z":"f9c72e13.30015","name":"Big light on","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_on","data":"{\"entity_id\": \"light.big_light\", \"brightness_pct\": 75}","mergecontext":"","x":758,"y":156,"wires":[[]]},{"id":"90806bf8.906638","type":"api-call-service","z":"f9c72e13.30015","name":"Paper light on","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_on","data":"{\"entity_id\": \"light.paperlight\", \"brightness_pct\": 75}","mergecontext":"","x":768,"y":207,"wires":[[]]},{"id":"3fd377e6.8c2698","type":"function","z":"f9c72e13.30015","name":"Time in seconds","func":"\nvar startDate = new Date(msg.payload);\n// Do your operations\nvar endDate   = new Date();\nvar seconds = Math.round((startDate - endDate) / 1000);\nvar newMsg = { payload: seconds }\nreturn newMsg;","outputs":1,"noerr":0,"x":1003.5,"y":54,"wires":[["c203cde3.82f8"]]},{"id":"c203cde3.82f8","type":"switch","z":"f9c72e13.30015","name":"Less than two hours","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"13000","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1281,"y":55,"wires":[["e384902b.9f503","fa0ef3ab.c20bd"]]},{"id":"e384902b.9f503","type":"template","z":"f9c72e13.30015","name":"paper light on template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.paperlight\",\n\"brightness_pct\": 100,\n\"transition\": {{payload}}\n}}\n","output":"str","x":1621,"y":109,"wires":[[]]},{"id":"fa0ef3ab.c20bd","type":"template","z":"f9c72e13.30015","name":"Big light on template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.big_light\",\n\"brightness_pct\": 100,\n\"transition\": {{payload}}\n}}\n","output":"str","x":1609,"y":52,"wires":[["9f6a0ae9.5237b8"]]},{"id":"9f6a0ae9.5237b8","type":"api-call-service","z":"f9c72e13.30015","name":"Light on","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_on","data":"{}","mergecontext":"","x":1839,"y":52,"wires":[[]]},{"id":"3e776b64.2d1864","type":"trigger-state","z":"69646b1e.2e5084","name":"TV Source","server":"90ba4a50.2b5e48","entityid":"sensor.living_room_tv_source","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":88.5,"y":363,"wires":[["d7334d37.5b9da"],[]]},{"id":"d7334d37.5b9da","type":"switch","z":"69646b1e.2e5084","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"HDMI4","vt":"str"},{"t":"eq","v":"Netflix","vt":"str"},{"t":"eq","v":"Plex","vt":"str"},{"t":"eq","v":"XPlay","vt":"str"},{"t":"eq","v":"HDMI3","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":284.5,"y":357,"wires":[["3636026c.cba7ae"],["296d338b.e07c6c"],["9750eaee.fc1a48"],["9750eaee.fc1a48"],["7816436e.475e6c"]]},{"id":"3636026c.cba7ae","type":"api-current-state","z":"69646b1e.2e5084","name":"Desk light on?","server":"90ba4a50.2b5e48","halt_if":"off","entity_id":"light.desk","x":494.5,"y":269,"wires":[["be2dcaf1.7efee8"]]},{"id":"296d338b.e07c6c","type":"api-current-state","z":"69646b1e.2e5084","name":"Desk light on?","server":"90ba4a50.2b5e48","halt_if":"off","entity_id":"light.desk","x":492,"y":333,"wires":[["62e243aa.24c88c"]]},{"id":"9750eaee.fc1a48","type":"api-current-state","z":"69646b1e.2e5084","name":"Desk light on?","server":"90ba4a50.2b5e48","halt_if":"off","entity_id":"light.desk","x":492,"y":392,"wires":[["e773dae.bf9d528"]]},{"id":"7816436e.475e6c","type":"api-current-state","z":"69646b1e.2e5084","name":"Desk light on?","server":"90ba4a50.2b5e48","halt_if":"off","entity_id":"light.desk","x":491,"y":452,"wires":[["2e2d1b01.a09fb4"]]},{"id":"d7d2874.2670278","type":"stoptimer","z":"69646b1e.2e5084","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":1030.5,"y":317,"wires":[["14508e78.711912"],[]]},{"id":"42221a13.516dd4","type":"inject","z":"69646b1e.2e5084","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":994.5,"y":195,"wires":[[]]},{"id":"be2dcaf1.7efee8","type":"template","z":"69646b1e.2e5084","name":"Desk light yellow","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.desk\",\n\"brightness_pct\": 100,\n\"rgb_color\":[255,255,65]\n}}\n","output":"str","x":721,"y":269,"wires":[["d7d2874.2670278","904f2d34.d45fe"]]},{"id":"904f2d34.d45fe","type":"api-call-service","z":"69646b1e.2e5084","name":"ON","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"","mergecontext":"","x":1112,"y":466,"wires":[[]]},{"id":"14508e78.711912","type":"template","z":"69646b1e.2e5084","name":"Desk light blue","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.desk\",\n\"brightness_pct\": 20,\n\"rgb_color\":[146,199,255],\n\"transition\":10\n}}\n","output":"str","x":1259,"y":360,"wires":[["904f2d34.d45fe"]]},{"id":"62e243aa.24c88c","type":"template","z":"69646b1e.2e5084","name":"Desk light red","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.desk\",\n\"brightness_pct\": 100,\n\"rgb_color\":[255,65,0]\n}}\n","output":"str","x":709,"y":330,"wires":[["904f2d34.d45fe","d7d2874.2670278"]]},{"id":"e773dae.bf9d528","type":"template","z":"69646b1e.2e5084","name":"Desk light orange","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.desk\",\n\"brightness_pct\": 100,\n\"rgb_color\":[255,190,44]\n}}\n","output":"str","x":717,"y":388,"wires":[["904f2d34.d45fe","d7d2874.2670278"]]},{"id":"2e2d1b01.a09fb4","type":"template","z":"69646b1e.2e5084","name":"Desk light yellow","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.desk\",\n\"brightness_pct\": 100,\n\"rgb_color\":[255,255,65]\n}}\n","output":"str","x":717,"y":447,"wires":[["904f2d34.d45fe","d7d2874.2670278"]]},{"id":"60a05cf7.456ca4","type":"trigger-state","z":"69646b1e.2e5084","name":"TV on","server":"90ba4a50.2b5e48","entityid":"media_player.lg_webos_smart_tv","debugenabled":false,"constraints":[{"id":"fokt90uudsn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playing"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":73.5,"y":557,"wires":[["5f494153.4ddaa"],[]]},{"id":"5f494153.4ddaa","type":"api-current-state","z":"69646b1e.2e5084","name":"Big light on?","server":"90ba4a50.2b5e48","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"light.big_light","x":273,"y":552,"wires":[["6c309d0d.faba34"]]},{"id":"cc7a7f3e.1674f","type":"template","z":"69646b1e.2e5084","name":"Desk light blue","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.desk\",\n\"brightness_pct\": 20,\n\"rgb_color\":[146,199,255],\n\"transition\":10\n}}\n","output":"str","x":888,"y":549,"wires":[["875f2f77.31e7c"]]},{"id":"875f2f77.31e7c","type":"api-call-service","z":"69646b1e.2e5084","name":"ON","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"","mergecontext":"","x":1111,"y":544,"wires":[[]]},{"id":"201e906d.7ca1b","type":"trigger-state","z":"69646b1e.2e5084","name":"TV on","server":"90ba4a50.2b5e48","entityid":"media_player.lg_webos_smart_tv","debugenabled":false,"constraints":[{"id":"zwiarf5ontq","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"paused"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":75,"y":627,"wires":[["5d6460aa.a89cf"],[]]},{"id":"5d6460aa.a89cf","type":"api-current-state","z":"69646b1e.2e5084","name":"Big light on?","server":"90ba4a50.2b5e48","halt_if":"off","entity_id":"light.big_light","x":274.5,"y":622,"wires":[["88eb901f.9d887"]]},{"id":"88eb901f.9d887","type":"template","z":"69646b1e.2e5084","name":"Desk light blue","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.desk\",\n\"brightness_pct\": 100,\n\"rgb_color\":[146,199,255],\n\"transition\":2\n}}\n","output":"str","x":493.5,"y":619,"wires":[["f443589a.bf4ae8"]]},{"id":"f443589a.bf4ae8","type":"api-call-service","z":"69646b1e.2e5084","name":"ON","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"","mergecontext":"","x":716.5,"y":614,"wires":[[]]},{"id":"5f72639a.a8ecdc","type":"trigger-state","z":"69646b1e.2e5084","name":"","server":"90ba4a50.2b5e48","entityid":"media_player.living_room_tv","debugenabled":false,"constraints":[{"id":"lj91qpsaj6f","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"paused"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":183.5,"y":694,"wires":[["5d6460aa.a89cf"],[]]},{"id":"4b09c530.1740bc","type":"time-range-switch","z":"49017fb.081c18","name":"","lat":"","lon":"","startTime":"22:00","endTime":"00:00","startOffset":0,"endOffset":0,"x":608,"y":1142,"wires":[["745faace.6bf4b4"],[]]},{"id":"745faace.6bf4b4","type":"api-current-state","z":"49017fb.081c18","name":"Anyone home?","server":"90ba4a50.2b5e48","halt_if":"not_home","entity_id":"group.tracked_devices","x":823,"y":1130,"wires":[["2ede90a3.06a6b"]]},{"id":"2ede90a3.06a6b","type":"api-current-state","z":"49017fb.081c18","name":"Already On?","server":"90ba4a50.2b5e48","halt_if":"on","entity_id":"light.yellow_light","x":1010,"y":1128,"wires":[["5b76725f.229a9c"]]},{"id":"5b76725f.229a9c","type":"api-current-state","z":"49017fb.081c18","name":"Sleeping?","server":"90ba4a50.2b5e48","halt_if":"on","entity_id":"binary_sensor.sleeping","x":1178,"y":1127,"wires":[["c21b6b34.b05d48","c6658fb5.ba102"]]},{"id":"c21b6b34.b05d48","type":"api-call-service","z":"49017fb.081c18","name":"ON","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.yellow_light\", \"brightness_pct\": \"100\"}","mergecontext":"","x":1352,"y":1126,"wires":[[]]},{"id":"c6658fb5.ba102","type":"stoptimer","z":"49017fb.081c18","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"1 min","x":1351,"y":1194,"wires":[["1c9a7154.f9943f"],[]]},{"id":"1c9a7154.f9943f","type":"api-call-service","z":"49017fb.081c18","name":"hallway upstairs light off","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.yellow_light\"}","mergecontext":"","x":1598,"y":1185,"wires":[[]]},{"id":"93710349.a7414","type":"api-call-service","z":"49017fb.081c18","name":"ON","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.kitchen\", \"brightness_pct\": \"1\"}","mergecontext":"","x":1563,"y":543,"wires":[[]]},{"id":"fdafd5f6.8c49a8","type":"debug","z":"49017fb.081c18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":771.5,"y":304,"wires":[]},{"id":"2d97fb04.17e4b4","type":"api-call-service","z":"49017fb.081c18","name":"All lights off","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_off","data":"","mergecontext":"","x":905,"y":104,"wires":[[]]},{"id":"bd8e97b0.e36ba8","type":"trigger-state","z":"c84fe94a.0c50b8","name":"","server":"90ba4a50.2b5e48","entityid":"binary_sensor.motion_hallway_upstairs","debugenabled":false,"constraints":[{"id":"tzpa0023axt","targetType":"entity_id","targetValue":"media_player.speaker","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playing"},{"id":"0g6o1sl9leou","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":238.5,"y":217,"wires":[["3a30004d.63ede"],[]]},{"id":"3a30004d.63ede","type":"api-call-service","z":"c84fe94a.0c50b8","name":"","server":"90ba4a50.2b5e48","service_domain":"notify","service":"livingroom_tv","data":"{\"message\":\"Jere is awake\"}","mergecontext":"","x":749.5,"y":214,"wires":[[]]},{"id":"4fdb9f65.8792c","type":"trigger-state","z":"c84fe94a.0c50b8","name":"","server":"90ba4a50.2b5e48","entityid":"script.masterchef","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":168.5,"y":313,"wires":[[],[]]},{"id":"58153d4d.6476d4","type":"inject","z":"9114d340.f3aed","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":121.5,"y":80,"wires":[["b6e9b9e0.583768"]]},{"id":"b6e9b9e0.583768","type":"http request","z":"9114d340.f3aed","name":"","method":"GET","ret":"obj","url":"https://app.phlexchat.com//api.php?say&apiToken=b2516c12d82894e0ed5deea1e44dd1d33c64658515&command=play+masterchef+on+living+room+TV","tls":"","x":311.5,"y":80,"wires":[["8f2d005e.65ce7"]]},{"id":"1c73bbf1.e518f4","type":"api-call-service","z":"9114d340.f3aed","name":"","server":"90ba4a50.2b5e48","service_domain":"script","service":"sonos_say","data":"","mergecontext":"","x":785.5,"y":78,"wires":[["85ee8e1f.0c9f3"]]},{"id":"8f2d005e.65ce7","type":"template","z":"9114d340.f3aed","name":"speech template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"data\":{\"sonos_entity\": \"media_player.living_room\",  \"volume\": 0.3,  \"message\": \"<speak>{{payload.speech}}</speak>\",  \"delay\": \"00:00:10\"}}","output":"str","x":530,"y":78,"wires":[["1c73bbf1.e518f4"]]},{"id":"edd84bb6.c319e8","type":"alexa-home","z":"9114d340.f3aed","conf":"b1a70ec4.c2c7c","device":"28425","acknoledge":true,"name":"Masterchef","topic":"","x":99.5,"y":147,"wires":[["b6e9b9e0.583768"]]},{"id":"f0932563.900448","type":"alexa-home-resp","z":"9114d340.f3aed","x":880.5,"y":218,"wires":[]},{"id":"85ee8e1f.0c9f3","type":"template","z":"9114d340.f3aed","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"false","output":"str","x":792.5,"y":162,"wires":[["f0932563.900448"]]},{"id":"e25a8a04.b86238","type":"trigger-state","z":"49017fb.081c18","name":"Someone downstairs?","server":"90ba4a50.2b5e48","entityid":"input_boolean.someone_downstairs","debugenabled":false,"constraints":[{"id":"kmtuitlsaoh","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":105.5,"y":1289,"wires":[["510bdcb6.f5b854"],[]]},{"id":"510bdcb6.f5b854","type":"time-range-switch","z":"49017fb.081c18","name":"","lat":"","lon":"","startTime":"20:00","endTime":"04:00","startOffset":0,"endOffset":0,"x":344,"y":1285,"wires":[["8c24e435.782c68"],[]]},{"id":"8c24e435.782c68","type":"api-call-service","z":"49017fb.081c18","name":"Turn off lights downstairs","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"group.downstairs_lights\"}","mergecontext":"","x":636.5,"y":1285,"wires":[[]]},{"id":"6c309d0d.faba34","type":"api-current-state","z":"69646b1e.2e5084","name":"living room brightness","server":"90ba4a50.2b5e48","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.livingroom_light_level","x":480.5,"y":552,"wires":[["ee6396f0.aa09f8"]]},{"id":"ee6396f0.aa09f8","type":"switch","z":"69646b1e.2e5084","name":"<16000","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"16000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690.5,"y":551,"wires":[["cc7a7f3e.1674f"]]},{"id":"192d4df4.678c12","type":"api-call-service","z":"78be5f94.ae5e3","name":"AC off","server":"90ba4a50.2b5e48","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.air_conditioner\"}","mergecontext":"","x":619,"y":379,"wires":[[]]},{"id":"c423017e.10042","type":"trigger-state","z":"78be5f94.ae5e3","name":"Air conditioner on","server":"90ba4a50.2b5e48","entityid":"switch.air_conditioner","debugenabled":false,"constraints":[{"id":"7xkr79ije0d","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"an3rvf4t417","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":120.5,"y":384,"wires":[["d589902d.7a2e4"],[]]},{"id":"d589902d.7a2e4","type":"stoptimer","z":"78be5f94.ae5e3","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":392.5,"y":381,"wires":[["192d4df4.678c12"],[]]},{"id":"5bdbf202.5ce6cc","type":"trigger-state","z":"9114d340.f3aed","name":"","server":"90ba4a50.2b5e48","entityid":"sensor.tv_on_today","debugenabled":false,"constraints":[{"id":"7jmv7b447sk","targetType":"entity_id","targetValue":"input_boolean.tv_limit","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":177.5,"y":322,"wires":[[],[]]},{"id":"ad9cc2e5.e0aeb","type":"time-range-switch","z":"9114d340.f3aed","name":"","lat":"","lon":"","startTime":"07:00","endTime":"11:30","startOffset":0,"endOffset":0,"x":469.5,"y":319,"wires":[["2d8378a1.ebcd08","5e4be9c.69e3318"],[]]},{"id":"5e4be9c.69e3318","type":"api-call-service","z":"9114d340.f3aed","name":"","server":"90ba4a50.2b5e48","service_domain":"script","service":"sonos_say","data":"{\"sonos_entity\": \"media_player.living_room\",  \"volume\": 0.3,  \"message\": \"<speak>The TV has been on for over 3 hours. It will turn off in 5 minutes.</speak>\",  \"delay\": \"00:00:10\"}","mergecontext":"","x":721,"y":289,"wires":[["2d8378a1.ebcd08","f9cd82cd.d8da6","c2e7ec8b.a8a3c"]]},{"id":"57f29d81.e96484","type":"template","z":"9114d340.f3aed","name":"speech template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"data\":{\"sonos_entity\": \"media_player.living_room\",  \"volume\": 0.3,  \"message\": \"<speak>{{payload.speech}}</speak>\",  \"delay\": \"00:00:10\"}}","output":"str","x":583,"y":220,"wires":[[]]},{"id":"c2e7ec8b.a8a3c","type":"stoptimer","z":"9114d340.f3aed","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":961.5,"y":287,"wires":[["e8f89c5b.bb4c1"],[]]},{"id":"e8f89c5b.bb4c1","type":"api-call-service","z":"9114d340.f3aed","name":"Turn TV off","server":"90ba4a50.2b5e48","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\": \"media_player.lg_webos_smart_tv\"}","mergecontext":"","x":1178.5,"y":284,"wires":[[]]},{"id":"2d8378a1.ebcd08","type":"debug","z":"9114d340.f3aed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":961.5,"y":441,"wires":[]},{"id":"f9cd82cd.d8da6","type":"api-call-service","z":"9114d340.f3aed","name":"TV limit off","server":"90ba4a50.2b5e48","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.tv_limit\"}","mergecontext":"","x":966.5,"y":368,"wires":[[]]},{"id":"4fa034f2.7108fc","type":"time-range-switch","z":"49017fb.081c18","name":"","lat":"","lon":"","startTime":"20:00","endTime":"00:00","startOffset":0,"endOffset":0,"x":340.5,"y":192,"wires":[["8b4a612a.f6288"],[]]},{"id":"c891b8a0.e0de18","type":"trigger-state","z":"49017fb.081c18","name":"Someone downstairs?","server":"90ba4a50.2b5e48","entityid":"input_boolean.someone_downstairs","debugenabled":false,"constraints":[{"id":"bemse19d5is","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"epo4029s8ru","targetType":"entity_id","targetValue":"binary_sensor.sleeping","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":118,"y":196,"wires":[["4fa034f2.7108fc"],[]]}]
