flows.json
[{"id":"49017fb.081c18","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"407269cb.c12fd8","type":"tab","label":"Status","disabled":false,"info":""},{"id":"90ba4a50.2b5e48","type":"server","z":"","name":"HomeAssistant","url":"URL","pass":"PASSWORD"},{"id":"a4ca6d02.96506","type":"server-state-changed","z":"49017fb.081c18","name":"Presence changed","server":"90ba4a50.2b5e48","entityidfilter":"group.tracked_devices","entityidfiltertype":"substring","haltifstate":"","x":110,"y":170,"wires":[["c3d2ebf6.6c2a38"]]},{"id":"fc6e3a08.cba338","type":"switch","z":"49017fb.081c18","name":"home/not home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":106,"y":1275,"wires":[["1a44b61a.16d65a"],["974e4b87.75d168"]]},{"id":"974e4b87.75d168","type":"api-call-service","z":"49017fb.081c18","name":"All lights off","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_off","data":"","mergecontext":"","x":336,"y":1363,"wires":[[]]},{"id":"732599b5.7bcca8","type":"server-state-changed","z":"49017fb.081c18","name":"Kitchen Motion","server":"90ba4a50.2b5e48","entityidfilter":"binary_sensor.motion_sensor_158d0001d8e71b","entityidfiltertype":"substring","haltifstate":"","x":96.5,"y":609,"wires":[["912f0cf2.261cc"]]},{"id":"92aebd5.9d6ff4","type":"api-call-service","z":"49017fb.081c18","name":"OFF","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.kitchen\"}","mergecontext":"","x":968.5,"y":664,"wires":[[]]},{"id":"1341ef02.96dd41","type":"api-call-service","z":"49017fb.081c18","name":"ON","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.yellow_light\", \"brightness_pct\": \"25\"}","mergecontext":"","x":1541.6666259765625,"y":524.9523620605469,"wires":[[]]},{"id":"912f0cf2.261cc","type":"switch","z":"49017fb.081c18","name":"switch motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":311.5,"y":608,"wires":[["7b6e8cc1.3a52e4","305325f9.8dce7a"],["305325f9.8dce7a"]]},{"id":"333eb578.f2b88a","type":"switch","z":"49017fb.081c18","name":"sleeping?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1347,"y":601,"wires":[["1341ef02.96dd41"],["b505d10f.2ccd"]]},{"id":"7e99cd5b.eecde4","type":"api-call-service","z":"49017fb.081c18","name":"ON","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"","mergecontext":"","x":2549.5,"y":590,"wires":[[]]},{"id":"7b6e8cc1.3a52e4","type":"api-current-state","z":"49017fb.081c18","name":"Anyone home?","server":"90ba4a50.2b5e48","halt_if":"not_home","entity_id":"group.tracked_devices","x":581.5,"y":603,"wires":[["6111c704.0c2818"]]},{"id":"2e3f1d9e.155e12","type":"api-current-state","z":"49017fb.081c18","name":"Motion?","server":"90ba4a50.2b5e48","halt_if":"on","entity_id":"group.kitchen_motion_sensors","x":797.5,"y":668,"wires":[["92aebd5.9d6ff4"]]},{"id":"1a44b61a.16d65a","type":"api-current-state","z":"49017fb.081c18","name":"Sun","server":"90ba4a50.2b5e48","halt_if":"","entity_id":"sun.sun","x":324,"y":1213,"wires":[["78fcf415.35c3ac"]],"outputLabels":["data.attributes.next_setting"]},{"id":"369edeeb.659632","type":"moment","z":"49017fb.081c18","name":"","topic":"","input":"data.attributes.next_setting","inputType":"msg","inTz":"Etc/UTC","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"","locale":"en_GB","output":"","outputType":"msg","outTz":"Etc/UTC","x":791,"y":1153,"wires":[["c3208fc7.da18b"]],"inputLabels":["data.attributes.next_setting"]},{"id":"305325f9.8dce7a","type":"stoptimer","z":"49017fb.081c18","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"1 min","x":586.5,"y":669,"wires":[["2e3f1d9e.155e12"],[]]},{"id":"c3208fc7.da18b","type":"function","z":"49017fb.081c18","name":"Time in seconds","func":"\nvar startDate = new Date(msg.payload);\n// Do your operations\nvar endDate   = new Date();\nvar seconds = Math.round((startDate - endDate) / 1000);\nvar newMsg = { payload: seconds }\nreturn newMsg;","outputs":1,"noerr":0,"x":1024.5,"y":1153,"wires":[["3c7bd4db.83a62c"]]},{"id":"3c7bd4db.83a62c","type":"switch","z":"49017fb.081c18","name":"Less than two hours","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"13000","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1302,"y":1154,"wires":[["d4f546cf.671a88","d7d62da1.04619"]]},{"id":"78fcf415.35c3ac","type":"switch","z":"49017fb.081c18","name":"Sun status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"above_horizon","vt":"str"},{"t":"eq","v":"below_horizon","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":517,"y":1211,"wires":[["369edeeb.659632"],["e55d8d6f.2d94c","293dadbe.c16aa2"]]},{"id":"e55d8d6f.2d94c","type":"api-call-service","z":"49017fb.081c18","name":"Big light on","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_on","data":"{\"entity_id\": \"light.big_light\", \"brightness_pct\": 75}","mergecontext":"","x":779,"y":1255,"wires":[[]]},{"id":"293dadbe.c16aa2","type":"api-call-service","z":"49017fb.081c18","name":"Paper light on","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_on","data":"{\"entity_id\": \"light.paperlight\", \"brightness_pct\": 75}","mergecontext":"","x":789,"y":1306,"wires":[[]]},{"id":"467bb7d2.d33f18","type":"api-call-service","z":"49017fb.081c18","name":"Light on","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_on","data":"{}","mergecontext":"","x":1860,"y":1151,"wires":[[]]},{"id":"d7d62da1.04619","type":"template","z":"49017fb.081c18","name":"Big light on template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.big_light\",\n\"brightness_pct\": 100,\n\"transition\": {{payload}}\n}}\n","output":"str","x":1630,"y":1151,"wires":[["467bb7d2.d33f18"]]},{"id":"d4f546cf.671a88","type":"template","z":"49017fb.081c18","name":"paper light on template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.paperlight\",\n\"brightness_pct\": 100,\n\"transition\": {{payload}}\n}}\n","output":"str","x":1642,"y":1208,"wires":[[]]},{"id":"2bee9d12.10d4a2","type":"comment","z":"49017fb.081c18","name":"Kitchen motion light","info":"","x":107,"y":555,"wires":[]},{"id":"5f0e1255.7a8acc","type":"comment","z":"49017fb.081c18","name":"Sunset light","info":"","x":94,"y":57,"wires":[]},{"id":"1ec977de.3ccf18","type":"api-current-state","z":"49017fb.081c18","name":"Anyone home?","server":"90ba4a50.2b5e48","halt_if":"not_home","entity_id":"group.tracked_devices","x":608,"y":877,"wires":[["1dc97122.1321cf"]]},{"id":"aab94d7c.2ff26","type":"stoptimer","z":"49017fb.081c18","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"30 sec","x":600,"y":940,"wires":[["83b6cfe7.1d62c"],[]]},{"id":"1dc97122.1321cf","type":"api-current-state","z":"49017fb.081c18","name":"Already On?","server":"90ba4a50.2b5e48","halt_if":"on","entity_id":"light.big_light","x":820,"y":875,"wires":[["c573487.d5a8ab8","dfb62c60.73f45"]]},{"id":"83b6cfe7.1d62c","type":"api-current-state","z":"49017fb.081c18","name":"Motion?","server":"90ba4a50.2b5e48","halt_if":"on","entity_id":"binary_sensor.motion_sensor_158d0001bd11a7","x":816,"y":934,"wires":[["73157711.583fb8","d7c7e7a6.50c1a8"]]},{"id":"73157711.583fb8","type":"api-call-service","z":"49017fb.081c18","name":"Big light off","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.big_light\"}","mergecontext":"","x":1441,"y":943,"wires":[[]]},{"id":"c573487.d5a8ab8","type":"api-call-service","z":"49017fb.081c18","name":"Big light on","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.big_light\", \"brightness_pct\": \"10\"}","mergecontext":"","x":1465.1666259765625,"y":880.952392578125,"wires":[[]]},{"id":"dfb62c60.73f45","type":"api-call-service","z":"49017fb.081c18","name":"Gateway light on","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.gateway_light_7811dcaf23d2\", \"brightness_pct\": \"10\"}","mergecontext":"","x":1485,"y":832,"wires":[[]]},{"id":"d7c7e7a6.50c1a8","type":"api-call-service","z":"49017fb.081c18","name":"gateway light off","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.gateway_light_7811dcaf23d2\"}","mergecontext":"","x":1449,"y":988,"wires":[[]]},{"id":"d34a6381.db4f9","type":"comment","z":"49017fb.081c18","name":"Night light","info":"","x":75.5,"y":854,"wires":[]},{"id":"6111c704.0c2818","type":"api-current-state","z":"49017fb.081c18","name":"","server":"90ba4a50.2b5e48","halt_if":"","entity_id":"binary_sensor.sleeping","x":1057.5,"y":603,"wires":[["333eb578.f2b88a"]]},{"id":"b505d10f.2ccd","type":"api-current-state","z":"49017fb.081c18","name":"","server":"90ba4a50.2b5e48","halt_if":"","entity_id":"sensor.kitchen_light_level","x":1663.5,"y":606,"wires":[["c461c064.cdc82"]]},{"id":"d56d0eee.7b93e","type":"range","z":"49017fb.081c18","minin":"4000","maxin":"12000","minout":"100","maxout":"35","action":"clamp","round":true,"property":"payload","name":"","x":2093.5,"y":605,"wires":[["b131c642.4faca8"]]},{"id":"b131c642.4faca8","type":"template","z":"49017fb.081c18","name":"kitchen light template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.kitchen\",\n\"brightness_pct\": {{payload}}\n}}\n","output":"str","x":2292,"y":601,"wires":[["7e99cd5b.eecde4"]]},{"id":"c461c064.cdc82","type":"switch","z":"49017fb.081c18","name":"less than 14k","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"14000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1942,"y":607,"wires":[["d56d0eee.7b93e"]]},{"id":"869c4a72.04caa8","type":"trigger-state","z":"49017fb.081c18","name":"Auto lights on","server":"90ba4a50.2b5e48","entityid":"sensor.livingroom_light_level","debugenabled":false,"constraints":[{"id":"ldm0uh2i94a","targetType":"entity_id","targetValue":"group.tracked_devices","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"gqwvxau4txu","targetType":"entity_id","targetValue":"input_boolean.auto_lights","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":98,"y":249,"wires":[["272b6ddd.215df2"],[]]},{"id":"a8511d4.f9d81e","type":"range","z":"49017fb.081c18","minin":"10000","maxin":"20000","minout":"100","maxout":"0","action":"clamp","round":true,"property":"payload","name":"","x":682,"y":239,"wires":[["46105a4b.eb6c94"]]},{"id":"3a36fb9e.d9f214","type":"template","z":"49017fb.081c18","name":"paperlight light template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.paperlight\",\n\"brightness_pct\": {{payload}},\n\"transition\": 30\n}}\n","output":"str","x":1042.5,"y":227,"wires":[["17df81c7.61098e"]]},{"id":"17df81c7.61098e","type":"api-call-service","z":"49017fb.081c18","name":"ON","server":"90ba4a50.2b5e48","service_domain":"homeassistant","service":"turn_on","data":"","mergecontext":"","x":1297,"y":223,"wires":[[]]},{"id":"68063f3.6aa0cc","type":"bigtimer","z":"49017fb.081c18","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","lat":"60.314939","lon":"25.037804","starttime":"5004","endtime":1425,"startoff":"-120","endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":83,"y":103.5,"wires":[[],[],["d394d52.4f01928"]]},{"id":"d394d52.4f01928","type":"switch","z":"49017fb.081c18","name":"if on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":355,"y":118,"wires":[["64a98f38.b6676"]]},{"id":"3197f30.7f1820e","type":"switch","z":"49017fb.081c18","name":"switch motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":383,"y":902,"wires":[["1ec977de.3ccf18","aab94d7c.2ff26"],["aab94d7c.2ff26"]]},{"id":"5125c0c4.d9582","type":"trigger-state","z":"49017fb.081c18","name":"Motion in the livingroom","server":"90ba4a50.2b5e48","entityid":"binary_sensor.motion_sensor_158d0001bd11a7","debugenabled":false,"constraints":[{"id":"gyb0u90w2qt","targetType":"entity_id","targetValue":"binary_sensor.sleeping","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"dbpp74u5vsr","targetType":"entity_id","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"less_than","comparatorValueDatatype":"num","comparatorValue":"14000"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":130,"y":898,"wires":[["3197f30.7f1820e"],[]]},{"id":"e567b8db.7da3d8","type":"template","z":"49017fb.081c18","name":"big light template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n\"entity_id\": \"light.big_light\",\n\"brightness_pct\": {{payload}},\n\"transition\": 30\n}}\n","output":"str","x":1046,"y":271,"wires":[["17df81c7.61098e"]]},{"id":"64a98f38.b6676","type":"api-call-service","z":"49017fb.081c18","name":"enable auto brightness","server":"90ba4a50.2b5e48","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.auto_lights\"}","mergecontext":"","x":627,"y":112,"wires":[[]]},{"id":"46105a4b.eb6c94","type":"switch","z":"49017fb.081c18","name":"Over 30","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":820.5,"y":237,"wires":[["3a36fb9e.d9f214","e567b8db.7da3d8"]]},{"id":"272b6ddd.215df2","type":"switch","z":"49017fb.081c18","name":"admin","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"14000","vt":"num"},{"t":"gt","v":"16000","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":545.5,"y":242,"wires":[["a8511d4.f9d81e"],["577fdd0c.f46eb4","abb737b6.20bd88"]]},{"id":"abb737b6.20bd88","type":"api-call-service","z":"49017fb.081c18","name":"Paper light off","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.paperlight\", \"transition\": 30}","mergecontext":"","x":754,"y":319,"wires":[[]]},{"id":"577fdd0c.f46eb4","type":"api-call-service","z":"49017fb.081c18","name":"Big light off","server":"90ba4a50.2b5e48","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.paperlight\", \"transition\": 30}","mergecontext":"","x":741,"y":281,"wires":[[]]},{"id":"c3d2ebf6.6c2a38","type":"switch","z":"49017fb.081c18","name":"home/not home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":351,"y":168,"wires":[["64a98f38.b6676","272b6ddd.215df2"],["3871b7a9.13b508"]]},{"id":"3871b7a9.13b508","type":"api-call-service","z":"49017fb.081c18","name":"disable auto brightness","server":"90ba4a50.2b5e48","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.auto_lights\"}","mergecontext":"","x":644,"y":169,"wires":[[]]},{"id":"5389b12.da9eb5","type":"server-state-changed","z":"49017fb.081c18","name":"","server":"90ba4a50.2b5e48","entityidfilter":"binary_sensor.sleeping","entityidfiltertype":"substring","haltifstate":"","x":164.5,"y":369,"wires":[["47986034.d3ae2"]]},{"id":"47986034.d3ae2","type":"switch","z":"49017fb.081c18","name":"on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":408.5,"y":369,"wires":[["3871b7a9.13b508","8e8bcaee.24ffb8","2ade4602.2f5eaa","91c9b46.483fe48","100906bc.ca3e89"],[]]},{"id":"8e8bcaee.24ffb8","type":"stoptimer","z":"49017fb.081c18","duration":"60","units":"Minute","payloadtype":"num","payloadval":"0","name":"1 hour","x":692,"y":366,"wires":[["d2d0c605.bbaf98"],[]]},{"id":"2ade4602.2f5eaa","type":"api-call-service","z":"49017fb.081c18","name":"Fan on","server":"90ba4a50.2b5e48","service_domain":"fan","service":"turn_on","data":"{\"entity_id\": \"fan.xiaomi_miio_device\"}","mergecontext":"","x":691.5,"y":412,"wires":[[]]},{"id":"100906bc.ca3e89","type":"api-call-service","z":"49017fb.081c18","name":"Set favorite mode","server":"90ba4a50.2b5e48","service_domain":"fan","service":"set_speed","data":"{\"entity_id\": \"fan.xiaomi_miio_device\", \"speed\": \"Favorite\"}","mergecontext":"","x":732.5,"y":500,"wires":[[]]},{"id":"91c9b46.483fe48","type":"api-call-service","z":"49017fb.081c18","name":"Set favorite level","server":"90ba4a50.2b5e48","service_domain":"fan","service":"xiaomi_miio_set_favorite_level","data":"{\"entity_id\": \"fan.xiaomi_miio_device\", \"level\": 4}","mergecontext":"","x":722,"y":457,"wires":[[]]},{"id":"d2d0c605.bbaf98","type":"api-call-service","z":"49017fb.081c18","name":"Fan off","server":"90ba4a50.2b5e48","service_domain":"fan","service":"turn_off","data":"{\"entity_id\": \"fan.xiaomi_miio_device\"}","mergecontext":"","x":908,"y":362,"wires":[[]]}]